rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /volunteers/{document} {
      allow read: if true;
      allow write: if true;
    }
    
    match /visitRequests/{document} {
      allow read: if request.auth != null;
      allow write: if true;
    }
    
    match /visitLogs/{document} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
